.inputBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputWrapper {
  background: #212121;
  border-radius: 4px;
  border: 1px solid #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 15px;

  &:focus-within {
    outline: 2px solid #2a8fbe;
  }
}

.input {
  background-color: inherit;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-size: 16px;
}

.btn {
  background-color: inherit;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;

  &:focus-within {
    outline: 2px solid #2a8fbe;
  }
}

.error {
  font-size: 14px;
  color: red;
}
