.chatsTopHeader {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  height: 70px;
  border-right: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
  background-color: #212121;
}

.btnWrapper {
  padding: 4px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: inherit;
  border: none;
  transition: all 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: #454e60;
  }
}
